@import url(style.css);

#intro {
    display: flex;
    justify-content: space-between;
}

#intro div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro img {
    padding: 15px;
    width: 200px;
    object-fit: fill;
    margin-right: 10rem;
}

#archive {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    padding-bottom: 150px;
    gap: 40px;
    background-color: var(--background2);
    justify-content: center;
}

.item {
    display: flex;
    padding: 20px;
    gap: 40px;
    text-decoration: none;
}

.item:hover {
    background-color: var(--background3);
}

.item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.item p {
    max-width: 80%;
    padding: 5px;
}

.title {
    font-size: 28px;
}

.date {
    font-size: x-small;
    margin: 0;
}

@media screen and (max-width: 768px) {

    #intro p {
        font-size: 26px;
        margin: 10px;
    }
    
    .item img {
        width: 220px;
        height: 220px;
        object-fit: cover;
    }
    
    .abstract {
        font-size: 22px;
    }

    .title {
        font-size: 32px;
    }
    
    .date {
        font-size: 18px;
    }



}

@media screen and (max-width: 554px) {

    
    .item img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .item {
        max-height: 300px;
    }
    
    .abstract {
        font-size: 15px;
    }

    .title {
        font-size: 18px;
    }
    
    .date {
        font-size: 8px;
    }
}