@import url(style.css);

#intro {
    display: flex;
    justify-content: space-between;
}

#intro div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro img {
    padding: 15px;
    width: 200px;
    object-fit: fill;
    margin-right: 10rem;
}

#gallery {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 150px;
    gap: 40px;
    background-color: var(--background2);
}

#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 150px;
    gap: 40px;
    background-color: var(--background2);
}

.item {
    width: 200px;
    height: 270px;
    padding: 10px;
}

.item img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
}

.date {
    font-size: smaller;
    color: var(--foreground2);
    margin-top: -10px;
}

a {
    text-decoration: none;
}

#gallery a:hover {
    background-color: var(--background3);
}