@import url(style.css);

#intro {
    display: flex;
}

#intro div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro h3 {
    font-size: 45px;
    margin-left: 20px;
}

#intro p {
    font-size: 18px;
    width: 70%;
}

#intro p, #intro h3 {
    padding: 10px;
}

#intro img {
    padding: 15px;
    width: 200px;
    object-fit: fill;
    margin-right: 10rem;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 40px;
    background-color: var(--background2);
}

.item {
    width: 200px;
    height: 250px;
    padding: 10px;
}

.item img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
}