@import url(style.css);

.main {
    background-color: var(--background1);
    width: 80%;
    padding: 15px 0 0 0;
    border: 0 solid var(--background1);
    border-radius: 3%;
    margin: 10vh auto;
    overflow: hidden;
}

section p {
    padding: 0 50px 0 0;
    font-size: 18px;
}

section h3 {
    font-size: 26px;
    margin-left: 0;
}

.about {
    display: flex;
    gap: 12px;
}

.about img {
    height: 200px;
    margin: 8px;
    border: 2px solid var(--catborder);
    border-radius: 50%;
}
section {
    width: 100%;
}

section a {
    text-decoration: none;
}

.link {
    width: 100%;
    height: 80px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link p {
    font-size: 28px;
}

.link:hover {
    background-color: var(--background2);
}

.links {
    padding-left: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
hr {
    color: var(--foreground1);
    width: 100%;
}