:root {
    --background1: #0d0621;
    --background2: #171032;
    --background3: #1c1943;
    --background4: #27226b;
    --foreground1: #434aa6;
    --foreground2: #7a86c3;
    --font: #afb8dd;
    --catborder: #00774c;
    --headerheight: 50px;
}

*, ::before, ::after {
    margin: 0;
}

p, h3, a {
    color: var(--font);
}

body {
    background: linear-gradient(90deg, var(--foreground1), var(--foreground2));
}

#header {
    position: fixed;
    width: 100%;
    height: var(--headerheight);
    background-color: var(--background1);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 5px 5px var(--background1);
}

#header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header {
    border: 2px solid var(--catborder);
    border-radius: 50%;
    height: 40px;
    margin: 7px;
}

img {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome                         */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    padding: 15px;
}

.icons a {
    padding: 1px;
}


.icons img:hover {
    background-color: var(--background4);
    border: 0 solid var(--background4);
    border-radius: 50%;
}

.icon {
    width: 40px;
    height: 40px;
}

#main {
    margin-top: calc(var(--headerheight) + 10px);
}

p {
    text-align: justify;
}

#intro h3 {
    font-size: 45px;
    margin-left: 20px;
}

#intro p {
    font-size: 18px;
    width: 70%;
}

#intro p, #intro h3 {
    padding: 10px;
}