@import url(../style.css);

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    align-self: baseline;
    margin: 30px;
    font-size: 40px;
    position: absolute;
    max-width: 20vw;
    z-index: 0;
}

#image {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0;
}

#image a {
    width: 100px;
    height: 40px;
    background-color: var(--background1);
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#image a:hover {
    background-color: var(--background3);
}

#image img {
    height: 80vh;
    max-width: 80vw;
    border: 10px solid var(--background3);
    background-color: var(--background2);
}

#description {
    width: 100%;
    background-color: var(--background1);
    padding: 50px 0;
    display: flex;
    justify-content: center;
}

#description p {
    width: 50vw;
    text-align: justify;
}

#description a {
    text-decoration: none;
    color: var(--foreground1);
}

#description a:hover {
    color: var(--foreground2);
}