@import url(../styles.css);

#return {
    width:32px;
    height:32px;
    border-radius: 50%;
}

#return:hover {
    background-color: var(--foreground2);
}

#goback {
    background-color: var(--background4);
    width:32px;
    height:32px;
    border: none;
    border-radius: 50%;
}

#goback:hover {
    background-color: var(--foreground2);
}

#header {
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#header p {
    font-size: large;
}

#header div {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

#body {
    background-color: var(--background1);
    border-radius: 10px;
    width: 95%;
    height:100%;
    padding:15px;
    overflow-y: auto;
}

#spaceship {
    height:80%;
    width: 60%;
}

#pagetabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:5px;
    justify-self: flex-start;
}

.pagetab {
    height:42px;
    width:42px;
    background-color: var(--background3);
    border-radius: 10%;
    border-right: 1px solid var(--foreground2);
    border-top: 1px solid var(--foreground2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagetab:hover {
    background-color: var(--foreground1);
}

.activepage {
    background-color: var(--backgroundspecial);
    border:none;
}

#Gallery {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap-reverse;
    justify-content: space-evenly;
    align-items: baseline;
    gap:10px;
}

.Image {
    background-color: var(--background3);
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 180px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:5px;
    overflow: hidden;
    margin:2px;
}

.Image img {
    overflow: hidden;
    border-radius:5px;
    min-height:50%;
}

.Image:hover {
    background-color: var(--background4);
}

#Picture {
    position:sticky;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
}

.hide {
    display: none;
}

.flexandcenter {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

#img {
    max-width:60%;
    min-width:360px;
}

#name {
    font-size:larger;
}

#date {
    font-size:small;
    color:var(--foreground2);
}

.date {
    font-size:smaller;
    color:var(--foreground2);
}

.tile {
    width: 240px;
    height:260px;
    background-color: var(--background3);
    border-radius: 30px 6px 6px 6px;
    overflow-y: hidden;
}

.tile img {
    max-width:100%-2px;
    background-color: var(--foreground2);
}

.title {
    font-size:18px;
    margin-top:15px;
    background-color: var(--background3);
}

.tabs {
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:100%;
}

.tabs button {
    border:none;
    background-color: var(--foreground1);
    height:24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    
}

.tabs button:hover{
    
    background-color: var(--background4);
}

.tilefooter {
    color:var(--foreground2);
    margin-top:-2px;
    height:100%;
}

#fullPage {
    width:100%;
    height:100%;
    background-color: var(--background4);
}

#fullHeader {
    width:100%;
    display:flex;
    justify-content: space-between;
    background-color: var(--background1);
    height:30px;
}

#fullHeader button {
    border:none;
    width:100%;
}

#fullHeader button:hover {
    background-color: var(--foreground1);
}

.active {
    background-color: var(--background4);
}

.inactive {
    background-color: var(--background3);
}

.tilebody{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.tilebody img {
    max-width: 100%;
}

#description, #comment, #screenshots, #download {
    padding:15px;
    overflow-y: auto;
    height:85%;
    text-align: justify;
}

#fullPage div img {
    height:24em;
}

.article {
    width:240px;
    height:240px;
    border:none;
    border-radius: 30px 6px 6px 6px;
    border-top: 1px solid var(--artoutline);
    border-left: 1px solid var(--artoutline);
    background-color: var(--artcolor);
    overflow:hidden;
    gap: 0;
}

.arttitle {
    color:var(--background3);
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: 900;
}

.artheader {
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.artheader div, .artheader p {
    margin:12px;
}

.circle {
    border-radius: 50%;
    background-color: var(--artring);
    width:20px;
    height:20px;
    border-top: 1px solid var(--artoutline);
    border-left: 1px solid var(--artoutline);
}


.artbody {
    width: 100%;
    display:flex;
    flex-direction: row;
}

.line {
    width: 20%;
}

.coverart {
    width: 180px;
    height: 180px;
    overflow: hidden;
}

.coverart img {
    height:180px;
    margin: 0 -100px;
}

#ArtPage div img {
    max-width:90%;
}

#ArtPage div p {
    text-align: justify;
}

.inpagetitle {
    text-align: center;
    font-size: 45px;
}

@media screen and (max-width: 480px) {
  #spaceship {
      width: 100%;
      height: 90%;
  }
}

@media screen and (min-height:700px){
    #spaceship {
        width: 95%;
    }
}